body{
    background-color: #fafafa;;
}
#content{
    margin-top: 5%;
}
#left_part{
    width: 70%;
    height: 600px;

}
#right_part{
    width: 30%;
    height: 570px;
    background-color: #fafafa;
    overflow:auto;
    box-shadow: 1px 1px 10px gray;
    border-radius: 5px;
}
.character{
    margin-top: 5%;
    text-align: center;
    font-size: 36px;
}
#image,#video{
    width: 90%;
    height: 90%;
}
.a-upload{
    margin-top: 1%;
    margin-left: 80%;
}
footer{
    width: 100%;
    height: 50px;
}
.words{
    word-break:break-word;
    white-space: pre-line;
}
.words-head{
    font-size: 25px;
    font-family: "Adobe 宋体 Std L";
}
.button-parent{
    margin-left: 50%;
    margin-top: 1%;
}
#model_face{
    position:absolute;
    background-color: white;
    width: 80%;
    height: 70%;
    top: 15%;
    left: 15%;
    border-radius: 8px;
    box-shadow: 1px 1px 10px gray;
}
#close{
    width: 12px;
    height: 12px;
    margin-left: 96%;
    margin-top: 2%;
}
#close:hover{
    cursor: pointer;
}
#file-tree{
    margin-left: 5%;
    width: 90%;
    height: 90%;
    overflow: auto;
}
.move-content{
    margin-left: 65%;
    margin-top: -10%;
}
#submit-move{
    margin-left: -3%;
}
#submit-move:hover{
    cursor: pointer;
}
