/*关闭X 样式*/
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.upload_form{
    margin-left: 40%;
    height: 300px;
}

.folder_container{
    display:inline-block;
    text-align: center;
    height: 125px;
    width: 150px;
}
.folder, .images{
    height: 95px;
    width: 108px;
}
.folder:hover{
    cursor: pointer;
}
.image:hover,#search-icon:hover, #refresh{
    cursor: pointer;
}
.folder_name{
    text-align: center;
}
/*a  upload */
.a-upload {
    font-size: medium;
    margin-top: 10px;
    color: white;
    height: 35px;
    background-color: #30a5ff;
    /*    padding: 4px 10px;*/
    line-height: 20px;
    position: relative;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ededed;
    text-decoration: none
}

#form_msg{
    margin-top: 10px;
}

#file_all{
    background-color: #eaeaea;
}

#menu{
    width: 18.5%;
    height: 102%;
    background-color: #f5f5f6;
    border-radius: 8px;
    margin-left: -1%;
    margin-top: -1%;
}
#data{
    width: 80%;
    height: 100%;
    overflow:hidden;
}
#top-container{
    margin-top: 4%;
    height: 100%;
    width: 100%;
}
body{
    height: 90%;
    width: 100%;
    background-color: #fafafa;
}
html{
    height: 100%;
    width: 100%;
}
.circle{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    align-self: center;
    background-color: white;
    margin-top: 250px;
    margin-left: 45%;
}
.icon_container{
    margin-top: 2%;
    height: 50px;
    border-radius: 8px;
}
.icon_container:hover{
    box-shadow: 1px 1px 10px gray;
    background-color: #f5f5f5;;
}
.icon{
    position: relative;
    top: 10px;
    height: 30px;
    width: 25px;
}
.back-img{
    height: 30px;
    width: 25px;
}
.detail-items{
    margin-top: 20%;
}
.back{
    margin-top: -5%;
}
.back:hover{
    cursor: pointer;
}
.small-title{
    position: relative;
    top: 10px;
    left: 10px;
}
.top_bar{
    text-align: center;
    margin-top: 10%;
    height: 50px;
    border-radius: 8px;
}
#slogan{
    font-size: 18px;
    font-family: "微软雅黑 Light";

}
.bottom{
    position: fixed;
    bottom: 25px;
    margin-left: -1%;
    height: 50px;
    width: 18.5%;
}

#user_icon{
    margin-left: 10%;
}
hr{
    margin-top: -2%;
    border:none;
    height: 1px;
    width: 95%;
    background-color: #c7c7c7;
}
#user_icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
#user_name{
    margin-left: 8%;
    font-size: 16px;
}

#add-icon{
    height: 50px;
    width: 50px;
}
#order-icon,#see-icon{
    margin-left: 1%;
    height: 30px;
    width: 30px;
}
#add-icon:hover, #order-icon,#see-icon{
    cursor: pointer;
}
#search-icon{
    margin-left: 50%;
    height: 25px;
    width: 25px;
}
.data-top{
    margin-top: 3%;
}
#count{
    margin-top: 10%;
    color: #707070;
}
.icon_container:hover{
    cursor: pointer;
}
.dropdown-menu{
    width: 100px;
}
.data-top-right{
}
.menu-items{
    background-color: #fafafa;
    box-shadow: none;
}
#create_folder, #form_msg{
    margin-top: -7%;
}
.upload{
    width: 70%;
    background-color: white;
    border: none;
    color: #6e6e6e;
}

.new-folder-icon{
    margin-left: 3%;
    width: 30px;
    height: 30px;
}
.upload-icon{
    margin-left: 3%;
    width: 30px;
    height: 25px;
}
#refresh{
    margin-left: 1%;
    width: 25px;
    height: 25px;
}
.folders{
    margin-top: 2%;
    height: 70%;
    width: 110%;
    overflow-y: scroll;
}
#contextMenu{
    position:absolute;
    background-color: white;
    border-radius: 8px;
    width: 100px;
    height: 120px;
    box-shadow: 1px 1px 10px gray;
}
.menu-li{
    text-align: center;
    margin-top: 10%;
}
#model_face{
    position:absolute;
    background-color: white;
    width: 60%;
    height: 70%;
    top: 15%;
    left: 15%;
    border-radius: 8px;
    box-shadow: 1px 1px 10px gray;
}
#close{
    width: 12px;
    height: 12px;
    margin-left: 96%;
    margin-top: 2%;
}
#close:hover{
    cursor: pointer;
}
#file-tree{
    margin-left: 5%;
    width: 90%;
    height: 90%;
    overflow: auto;
}
.move-content{
    margin-left: 65%;
    margin-top: -10%;
}
#submit-move:hover{
    cursor: pointer;
}