<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teqgin.image_laboratory.mapper.UserMapper">
    <select id="findAll" resultType="com.teqgin.image_laboratory.domain.User">
    select * from user
  </select>
    <update id="updatePassword" parameterType="string">
        update user set password = #{password} where id = #{id}
    </update>
    <update id="updatePasswordByAccount" parameterType="string">
        update user set password = #{password} where account = #{account}
    </update>
    <update id="updateNickName" parameterType="string">
        update user set name = #{nickName} where id = #{id}
    </update>

    <update id="updatePhone" parameterType="string">
        update user set phone = #{phone} where id = #{id}
    </update>
</mapper>