<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="left-slide" class="col-xs-2" id="menu">
    <div class="top_bar">
        <img src="/img/logo-cat.png" class="icon" style="width: 40px;height: 40px">
        <span class="small-title" id="slogan">TeqGin的图像站</span>
    </div>
    <div  class="detail-items">
        <div class="icon_container" id="image-lib">
            <img src=" /img/file.png" class="icon">
            <span class="small-title">图像库</span>
        </div>
        <div class="icon_container" id="data-analyze">
            <img src=" /img/plant.png" class="icon">
            <span class="small-title">数据分析</span>
        </div>
        <div class="icon_container" id="preference">
            <img src=" /img/love.png" class="icon">
            <span class="small-title">偏好推荐</span>
        </div>
        <div class="icon_container" id="preference-keyword">
            <img src=" /img/love.png" class="icon">
            <span class="small-title">关键字搜图</span>
        </div>
        <div class="icon_container" id="personal-info">
            <img src=" /img/user.png" class="icon">
            <span class="small-title">个人信息</span>
        </div>
    </div>
    <div class="bottom">
        <hr >
        <img src=" /img/me.jpg" class="" id="user_icon">
        <span id="user_name">hi</span>
    </div>
</div>
</body>
</html>