<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/iconfont.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/a-upload.css">
    <link rel="stylesheet" href="/css/image/big_canvas.css">
    <link rel="stylesheet" href="/css/head_bar.css">
    <link rel="stylesheet" href="/css/image/ocr.css">
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js"></script>
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
</head>
<body>
<div th:insert="/include/head::navbar"></div>
<div class="container" id="content">
    <div class="big-canvas" style="background-image: url('/img/big_canvas_demist.jpg');">
        <div class="canvas-words">
            <br><br><br><br><br>
            <p class="canvas-title">图像去雾</p>
            <p class="canvas-detail">对浓雾天气下拍摄，导致细节无法辨认的图像进行去雾处理，还原更清晰真实的图像</p>
        </div>
    </div>

    <div class="character">
        <p>图像去雾</p>
    </div>
    <div id="box">
        <br><br><br>
        <div id="left_part" class="col-xs-8">
            <img src="/img/error.png" id="image">

            <div class="container button-parent">
                <div class="col-xs-2">
                    <a href="javascript:;"  id="select-cloud" class="a-upload btn btn-default" style="margin-left: 0%">
                        从云空间中选择
                    </a>
                </div>

                <form id="form_msg" class="col-xs-2">
                    <a href="javascript:;" class="a-upload btn btn-default" style="margin-left: 0%">
                        <input type="file" name="doc" id="doc" onchange="file_change(this,'/image/dehaze')">上传文件
                    </a>
                </form>
            </div>

            <div id="model_face" style="display:none;" class="layui-anim layui-anim-downbit ">
                <img src="/img/close.png" id="close">
                <br>
                <div id="file-tree"></div>
                <div class="move-content">
                    <span>选中的图片：</span><span id="move-directory-name"></span>
                    <br>
                    <button id="submit-move" class="a-upload btn btn-default" onclick="transformLocal('/image/local_dehaze')">转换</button>
                </div>
            </div>
        </div>
        <div id="right_part" class="col-xs-4">
            <p class="words-head">识别结果</p>
            <p class="words" id="word">请上传图片</p>
        </div>
    </div>
</div>
</div>
</body>
<script type="text/javascript" th:inline="javascript">
    var status = [[${status}]];
    var directory_tree =  [[${tree}]];
    console.log("directory_tree",directory_tree);
</script>
<script src="/js/image/balckTurnColor.js"></script>
<script src="/js/image/transform.js"></script>
<script src="/js/image/public.js"></script>
<style>
    body{
        overflow-x: hidden;
    }
</style>
</html>